.included {
  background-color: $secondary-color;
  padding: 120px 0;
  position: relative;
}

.included__title {
  margin: 0 auto;
}

.included__bag {
  right: 145px;
  bottom: 92px;
  z-index: 0;
}
