.more-info {
  padding: 215px 0 105px 0;
  position: relative;
  overflow: hidden;
}

.more-info__content {
  display: flex;
}

.more-info__image {
  position: relative;
  display: flex;
  justify-content: center;
}

.more-info__text {
  max-width: 80%;
  margin-top: 52px;
}

.more-info__button {
  margin-top: 45px;
  padding: 22px 56px;
}

.more-info__pink-sphere {
  top: -20%;
  right: 0;
}
.more-info__blue-sphere {
  width: 24px;
  height: 24px;
  top: -16%;
  right: 70px;
  z-index: -1;
  &--main {
    z-index: -1;
    top: 150px;
    left: 150px;
  }
}
.more-info__watches {
  top: -10%;
  left: -10%;
}

.more-info__blured-cylinder {
  width: 300px;
  height: 200px;
  right: 0;
  bottom: 50px;
}

.more-info__blured--pink-wave {
  left: -20%;
  bottom: 75px;
  z-index: -1;
}

.more-info__taper {
  right: -30%;
  top: 50%;
  z-index: -1;
}
