@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');
$mainFont: 'Montserrat';
$primary-color: #67aefc;
$secondaty-color: #daecff;
$accent-color: #6d79ef;
$accent-green: #75e169;
$main-text-color: #111111;
$maxWidthContainer: 1170px;
