@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  outline-offset: 0;
  font-family: $mainFont;
  color: $main-text-color;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  color: #484848;
}

.button {
  text-decoration: none;
  width: max-content;
  font-size: 15px;
  font-weight: 700;
  background: $accent-green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    box-shadow: inset 0 0 0 2px $primary-color;
  }
  &:active {
    transition: background 0s;
    background: $primary-color;
  }
}

.background-item {
  position: absolute;
  transition: all 1s ease-out;
  user-select: none;
  pointer-events: none;
}

.title {
  font-size: 32px;
  font-weight: 800;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.subtitle {
  line-height: 31px;
  font-size: 18px;
}

@import 'imports';
